@import "../utils/variables";
@import "../utils/mixins";

.form{
    background-color: $color-grey;
    margin: 4px auto 30px auto;
    height: 50px;
    @include flex-center;
        .iconegeo{
            margin-right: 10px;
        }
}

input:disabled {
    background: transparent;
    border: transparent;
    
}
input::placeholder{
    color: black;
    font-weight: bold;
}
