//couleurs
$color-primary: #9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;

$color-background:#F6F6F6;
$color-form-grey:#cbcbcb;
$color-grey:#eaeaea;
$color-grey-light: #686868;

//polices
$title-font:"Shrikhand",sans-serif;
$body-font:"Roboto",sans-serif;